body, html, p, h1, h2, h3, h4, h5, h6, li, ul ,ol, article, section, figure, figcaption, a, small, table, th, td, tr, caption, img, label, input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    color: inherit;
    text-decoration: none
}
